*{
  margin: 0;
  padding: 0;
}

.slide{
  width: 350px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
  border-radius: 10px;
  position: absolute;
}

img{
  width: 200px;
  height: 250px;
  /*
  float:left;
 background-repeat: no-repeat;
  background-position: left top;
*/
}
p{
  

  font-family: Verdana, Geneva, sans-serif;

} 
.chuyen-slide{
  width: 9000px;
  height: auto;
  transition: all 0.5s;
}


.dieuhuong{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 48%;
  padding-left: 20px;
}
.dieuhuong i:last-child{
  position: relative;
  left: 200px;
}
